---
---
body {
    /* font: 14px/20px sans-serif, 'AurulentSansRegular', Arial;*/
    /* font: 16px/22px 'Gilda Display', serif; 'Sura' */
    /* font-family: serif, 'Slabo', serif; */
    /* font-family: 'Slabo 27px', serif; */
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Gothic A1', sans-serif; */
    font-family: 'Recursive', sans-serif;
    /* font-family: 'Merriweather', serif; */
    /* font: 16px/22px 'Slabo', serif; */
    /* font: 16px/22px 'Asar', serif; */
    text-align: justify;
    font-size: 14px;

    h1, h2, h3, h4, h5 {
        text-align: left;
    }

    .index-top-section img {
        width: 100%;
        opacity: 0.3;
    }
}
