---
---
body {
  /* font: 14px/20px sans-serif, 'AurulentSansRegular', Arial;*/
  /* font: 16px/22px 'Gilda Display', serif; */
  font-family: 'Sura', serif;
  /* font: 16px/22px 'Slabo', serif; */
  /* font: 16px/22px 'Asar', serif; */
  text-align: justify;
  font-size: 16px;
}
