---
---
body {
  font: 14px/20px 'AurulentSansRegular', Arial, sans-serif;

  b {
    font: 14px/20px 'AurulentSansBold', Arial, sans-serif;
  }

  address {
    font: 16px/22px 'AurulentSansRegular', Arial, sans-serif;
  }

  h3 {
    font: 21px/26px 'AurulentSansRegular', Arial, sans-serif;
  }
}
